// ==========================================================================
// Color palette
// ==========================================================================

$default-black: #000000;
$secundary-black: #505458;

$default-white: #FFFFFF;

$default-grey: #777777;
$secundary-grey: #98A6AD;
$tertiary-grey: #EBEFF2;