// ==========================================================================
// Common
// ==========================================================================

body, html {
	font-family: $font-family-base;
	font-size: 13px;
	color: $default-black;
}